.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000; /* Di atas segalanya */
}

/* .loader ada di animations.css, ini hanya untuk overlay */
.loading-message {
  margin-left: var(--margin-s);
  font-size: var(--font-size-medium);
  color: var(--color-primary-dark);
}
